core-service/node_modules
logger-service/node_modules
gateway-api/node_modules
realtime-service/node_modules

core-service/dist
logger-service/dist
gateway-api/dist
realtime-service/dist

# core-service/.env
# logger-service/.env
# gateway-api/.env
# realtime-service/.env

# Global ignores
node_modules/
dist/
.env

# Specific ignores for services
app/*/node_modules/
app/*/dist/
app/*/.env